/* ==========================================================================
   Custom styles by Marco Santonocito
   ========================================================================== */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* ---------- General ---------- */

body{
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  font-family: monospace;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
}




/* ---------- Buttons ---------- */

.btn-yellow {
    background-color: #F7DB00;
    border: 0;
    border-bottom: 3px solid #8F7F00;
    color: #000;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding: 10px 20px;
}

.btn-black{
    background-color: #4A4A4A;
    border-bottom: 3px solid #000000;
    color: #FFF;
    font-family: "Courier New", Courier, monospace;
    padding: 10px 20px;
}

.btn-black:hover{
    border-bottom: 0;
    color: #FFF;
    position: relative;
    top: 3px;
}



/* ---------- Navbar ---------- */

.navbar {
  background-color: black;
  border: 0;
}
#homepage .navbar {
  background-color: transparent;
}
#homepage .navbar.scrolled {
  background: none;
  background-color: black;
}

.navbar-brand img{
    height: 26px;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(0,0,0,0.2);
}

.navbar .by {
  float: left;
  margin-top: 33px;
  color: #999;
  font-size: xx-small;
}
.navbar .by img {
  position: relative;
  top: -2px;
}

/* ---------- Hero ---------- */

#hero{
  background: url('../img/back.png') repeat;
  text-align: center;
}

#hero .title{
  padding: 40px 0;
}

#hero h1 span{
    color: #F7DB00;
}

#hero h2{
    color: rgba(255,255,255,.4);
}

#hero a.btn{
    margin: 30px 0 0 0;
}

#hero a.btn-yellow:hover {
  margin-top: 32px;
  border-bottom: 1px solid #8F7F00;
}


#hero .code {
  margin-top: 80px;
}

/* ---------- Section ---------- */

.section-gray{
    background-color: #FCFCFC;
}

.section h3{
    color: #F7DB00;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    font-weight: bold;
}

.section p{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 360px;
}

.call-to-action{
    padding: 60px 0;
}

.call-to-action .buttons{
    margin-top: 20px;
}

/* ---------- Footer ---------- */

footer {
  background-color: #2d2e2c;
  color: #999;

  font-size: smaller;
  padding: 6em 1em 2em 1em;
}

footer h2 {
  font-family: monospace;
  font-size: large;
  color: white;
  margin-bottom: 2em;
}

footer a {
  display: block;
  color: #999;
  text-decoration: none;
  margin-bottom: 1em;
}
footer a:hover {
  color: #999;
  text-decoration: underline;
}

footer .jscr p {
  margin-top: 3em;
}

footer .contact a {
  background-repeat: no-repeat;
  padding-left: 3em;
}
footer .contact a.email {
  background-image: url(../img/icon%20mail.png);
}
footer .contact a.facebook {
  background-image: url(../img/icon%20facebook.png);
}
footer .contact a.flickr {
  background-image: url(../img/icon%20flickr.png);
}
footer .contact a.twitter {
  background-image: url(../img/icon%20twitter.png);
}
footer .contact a.meetup {
  background-image: url(../img/icon%20meetup.png);
}

footer .imprint {
  margin-top: 3em;
}
footer .imprint a {
  display: inline;
}









/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* ---------- General ---------- */

    h1 {
      font-size: 46px;
    }

    /* ---------- Buttons ---------- */

    .btn-yellow, .btn-black{
        padding: 15px 40px;
        font-size: 16px;
    }

    /* ---------- Navbar ---------- */

    .navbar{
    }

    .navbar-brand img{
        height: 50px;
    }

    .navbar-nav>li>a{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .navbar .nav{
        float: right !important;
    }

    /* ---------- Hero ---------- */

    #hero{
        background: url('../img/back.png') repeat;
        text-align: center;
    }

    #hero .title{
        padding: 140px 0 40px 0;
    }

    /* ---------- Section ---------- */

    .section{
        padding: 100px 0;
    }

    .section h3{
        color: #F7DB00;
        font-size: 24px;
    }

    .section p{
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        max-width: 360px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
