/* ==========================================================================
   Custom styles by Marco Santonocito
   ========================================================================== */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* ---------- General ---------- */

body{
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  font-family: monospace;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
}

h3 {
  color: #F7DB00;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
}

.notification-bubble {
  position: absolute;
  top: 1.8em;
  right: 5px;
  padding: 0 0.3em;
  background-color: red;
  color: white;
  font-size: 0.7em;
  border-radius: 5px;
}



/* ---------- Buttons ---------- */

.btn {
  border: 0;
  border-bottom: 3px solid #8F7F00;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 10px 20px;
}

.btn.yellow {
  background-color: #F7DB00;
  color: #000;
  border-bottom-color: #8F7F00;
}

.btn.black{
  background-color: #4A4A4A;
  border-bottom-color: #000000;
  color: #FFF;
}

.btn.black:hover{
  border-bottom: 0;
  color: #FFF;
  position: relative;
  top: 3px;
}



/* ---------- Navbar ---------- */

.navbar {
  background-color: black;
  border: 0;
}
#homepage .navbar {
  background-color: transparent;
}
#homepage .navbar.scrolled {
  background: none;
  background-color: black;
}

.navbar-brand img{
    height: 26px;
}

#homepage li.homepage a,
#howitworks li.howitworks a,
#events li.events a,
#contact li.contact a,
.navbar-nav a:hover {
  background-color: rgba(200, 200, 200,0.2);
  color: white;
}
#homepage li.homepage a {
  background-color: rgba(0, 0, 0,0.2);
}

.navbar .by {
  float: left;
  margin-top: 33px;
  color: #999;
  font-size: xx-small;
}
.navbar .by img {
  position: relative;
  top: -2px;
}

/* ---------- Sponsors ---------- */

.sponsors {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}
.sponsors .container {
  padding: 2em;
}
.sponsors a {
  margin-left: 3em;
}
.sponsors p {
  margin-top: 1em;
}

/* ---------- Hero ---------- */

#hero{
  background: url('../img/back.png') repeat;
  text-align: center;
}

#hero .title{
  padding: 40px 0;
}

#hero h1 span{
    color: #F7DB00;
}

#hero h2,
#hero h2 a {
  color: rgba(255,255,255,.4);
}

#hero a.btn{
    margin: 30px 0 0 0;
}

#hero a.btn.yellow:hover {
  margin-top: 32px;
  border-bottom: 1px solid #8F7F00;
}


#hero .code {
  margin-top: 80px;
}

/* ---------- Section ---------- */

.section-gray{
    background-color: #FCFCFC;
}

.section p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.call-to-action{
    padding: 60px 0;
}

.call-to-action .buttons{
    margin-top: 20px;
}

/* ---------- Footer ---------- */

body > footer {
  background-color: #2d2e2c;
  color: #999;

  font-size: smaller;
  padding: 6em 1em 2em 1em;
}

body > footer h2 {
  font-family: monospace;
  font-size: large;
  color: white;
  margin-bottom: 2em;
}

body > footer a {
  display: block;
  color: #999;
  text-decoration: none;
  margin-bottom: 1em;
}
body > footer a:hover {
  color: #999;
  text-decoration: underline;
}

body > footer .jscr p {
  margin-top: 3em;
}

body > footer .contact a {
  background-repeat: no-repeat;
  padding-left: 3em;
}
body > footer .contact a.email {
  background-image: url(../img/icon%20mail.png);
}
body > footer .contact a.facebook {
  background-image: url(../img/icon%20facebook.png);
}
body > footer .contact a.flickr {
  background-image: url(../img/icon%20flickr.png);
}
body > footer .contact a.twitter {
  background-image: url(../img/icon%20twitter.png);
}
body > footer .contact a.meetup {
  background-image: url(../img/icon%20meetup.png);
}

body > footer .imprint {
  margin-top: 3em;
  text-align: center;
}
body > footer .imprint a {
  display: inline;
}

/* ---------- Quotes  ---------- */

blockquote footer {
  padding: 0;
  background-color: inherit;
}


/* ---------- Media Queries  ---------- */

/* Extra small devices */
@media (max-width: 767px) {

  /* ---------- Navbar---------- */
  [role='navigation'] .navbar-collapse {
    background-color: #000;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ---------- General ---------- */

  h1 {
    font-size: 46px;
  }
  h3{
    color: #F7DB00;
    font-size: 24px;
  }


    /* ---------- Buttons ---------- */

    .btn.yellow, .btn.black{
        padding: 15px 40px;
        font-size: 16px;
    }

    /* ---------- Navbar ---------- */

    .navbar{
    }

    .navbar-brand img{
        height: 50px;
    }

    .navbar-nav>li>a{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .navbar .nav{
        float: right !important;
    }

    /* ---------- Hero ---------- */

    #hero{
        background: url('../img/back.png') repeat;
        text-align: center;
    }

    #hero .title{
        padding: 140px 0 40px 0;
    }

    /* ---------- Section ---------- */

    .section{
        padding: 100px 0;
    }

    .section p{
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
